*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* -- ========= Header / Navbar ========= -- */
header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 698px;
    margin-bottom: 80px;
}
nav{
    display: flex;
    width: 80%;
    height: 151px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-logo h3{
    font-size: 36px;
    color: #4E47FF;
    font-weight: bold;
}
.sign-up-btn{
    width: 132px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}

/* -- ======== Banner Section ======== - */
.banner{
   text-align: center;
}
.banner-content{
   padding-top: 80px;
}
.banner-content h1{
    font-size: 65px;
    padding-bottom: 30px;
}
.banner-content-btn{
    width: 174px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}

/* -- ======== Action Section ======== -- */

.action-section{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-bottom: 116px;
}
.action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.action-text{
    max-width: 500px;
}
.action-titel{
    font-size: 42px;
    color: #252432;
}
.action-description{
    color: #474747;
    font-size: 18px;
    padding: 20px 0;
}
.action-btn{
     width: 229px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}

.action-imges img{
    width: 403px; 
    height: 328px;
    border-radius: 48px;
}

/* -- ==== Productive Users Section ==== -- */

.productive-section{
    max-width: 1140px;
    height: 306px;
    background-color: #E5E7FF;
    margin: 0 auto;
    border-radius: 24px;
    margin-bottom: 130px;
}

.Productive-titel{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.Productive-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Productive-content h3{
    color: #4E47FF;
    font-size: 5rem;
    padding-top: 25px;
}
.Productive-content p{
    color: #474747;
    text-align: center;
}