*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
main{
    background-color: #F5F8FF;
}
body{
    background-color: #F5F8FF;
}

/* -- ========= Header / Navbar ========= -- */
header{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 698px;
    margin-bottom: 80px; 
}
nav{
    display: flex;
    width: 80%;
    height: 151px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-logo h3{
    font-size: 36px;
    color: #4E47FF;
    font-weight: bolder;
}
.sign-up-btn{
    width: 132px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}
.sign-up-btn:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}

/* -- ======== Banner Section ======== - */
.banner{
   text-align: center;
}
.banner-content{
   padding-top: 80px;
}
.banner-content h1{
    font-size: 65px;
    padding-bottom: 30px;
}
.banner-content-btn{
    width: 174px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}
.banner-content-btn:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}

/* -- ======== Action Section ======== -- */

.action-section{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-bottom: 116px;
    padding-top: 90px;
}
.action-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.action-text{
    max-width: 500px;
}
.action-titel{
    font-size: 42px;
    color: #252432;
}
.action-description{
    color: #474747;
    font-size: 18px;
    padding: 20px 0;
}
.action-btn{
    width: 229px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
}

.action-btn:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}

.action-imges img{
    width: 403px; 
    height: 328px;
    border-radius: 48px;
}

/* -- ==== Productive Users Section ==== -- */

.productive-section{
    max-width: 1140px;
    height: 306px;
    background-color: #E5E7FF;
    margin: 0 auto;
    border-radius: 24px;
    margin-bottom: 130px;
}

.Productive-titel{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.Productive-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Productive-content h3{
    color: #4E47FF;
    font-size: 5rem;
    padding-top: 25px;
}
.Productive-content p{
    color: #474747;
    text-align: center;
}

/* -- ===== Users Feedback Section ===== -- */

.users-feedback-section{
    max-width: 1140px;
    height: 342px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 130px;
}
.users-feedback-section h2{
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
}
.users-feedback-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.users-feedback{
    align-items: center;
    width: 270px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    border-radius: 10px;
}
.users-feedback:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}
.users-feedback i{
    color: #FFB805;
    padding-bottom: 20px;
}
.users-feedback p{
    color: #333;
    padding: 10px 0;
}
.user-imges{
    display: flex;
    align-items: center;
}
.user-imges h4{
    padding-left: 15px;
}
.user-imges img{
    border-radius: 30px;
}

/* -- ===== Webflow Section ===== -- */

.webflow-section{
    max-width: 1140px;
    height: 696;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 70px;
    margin-bottom: 92px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.webflow-content{
    text-align: center;
}
.webflow-titel{
    font-size: 50px;
    font-weight: bold;
}
.webflow-description{
    color: #474747;
    margin-top: 10px;
}
.webflow-btn{
    width: 195px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
    margin: 30px 0;
}
.webflow-btn:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}
.Webflow-img{
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

/* -- ===== Form section ===== -- */
form{
    max-width: 1140px;
    height: 632px;
    margin: 0 auto;
    
}
.form-content{
    display: flex;
    gap: 100px;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0;
}
.form-titel{
    font-size: 40px;
    width: 50%;
}
.form-box{
    width: 350px;
}
.input-hight{
    height: 55px;
    border-radius: 10px;
    background-color: white;
    color: #474747;
    display: block;
    width: 380px;
    border: none;
    margin-bottom: 24px;
    padding-left: 20px;
    margin: 15px 0;
}
.form-button{
    width: 400px;
    height: 48px;
    border: none;
    background-color: #4E47FF;
    color: white;
    font-size: 18px;
    font-weight:bold;
    border-radius: 10px;
    margin: 25px 0;
}
.form-button:hover{
    background-color: #6ef195;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.8s;
    color: #333;
}
textarea{
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    margin: 15px 0;
    width: 380px;
}

/* -- ===== Footer section ===== -- */

footer{
    width: 100%;
    height: 428px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
}
.footer-content{
    width: 590px;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}
.footer-logo{
    font-size: 100px;
    font-weight: bolder;
    color: #4E47FF;
}
.footer-description{
    color: #474747;
    padding-bottom: 20px;
    font-size: 18px;
}
.footer-menu{
    margin: 0 450px;
    width: 600px;
}
.footer-menu ul {
    display: flex;
    align-items: center;
}
.footer-menu ul li{
    list-style: none;
    padding-left: 50px;
    font-size: 18px;
    align-items: center;
}
.footer-menu ul li a{
    text-decoration: none;
    color: #474747;
}